{% extends 'base.html' %}

{% block title %}
Delete comic : {{comic.name}}
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{{comic.image.url}}" alt="" class="w-100 round-edge ">
        </div>

        <div class="col">
            <h4>
                {{Comic.name}}
            </h4>
            <p>
                &#8377; {{ Comic.price }}
            </p>
            {% if Comic.desc %}
            <div class="text-secondary">
                {{Comic.desc}}
            </div>
            {% endif %}
            <div>
                <h3>Are you sure you want to delete <span class="text-warning">{{Comic.name}}</span>?</h3>
                <div class="row w-60">
                    <form method="post" class="col-6">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary w-100">Delete Comic</button>
                </form>
                <a href="{% url 'comic_' comic.id %}" class="btn btn-warning col-6">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}