* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url("WonderStories\media\comic\social1.jpg"); */
}

body {
    height: 40px;
    background-color: aliceblue;
    background-image: url("WonderStories\media\comic\social1.jpg");


main {
    margin-top: 40px;
    width: 100%;                    

    .comic-container {
        display: grid;
        grid-template-columns:  auto auto auto;
                .card {
                    margin: auto;
                    margin-top: 20px ;
                    height: 350px;
                    width: 250px;
                    .card-img {
                        height: 80%;
                        overflow: hidden;

                        img {
                            object-position: 0px 0px 0px;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }
                }
            }
        }


    .container {
        .card-group {
            display: grid;
            gap: 50px;
            grid-template-columns: 0px 0px auto;


            .signin-container,
            .signin-container {
                max-width: 500px;
                margin: 150px auto;
                padding: 30px;
                border: 1px solid #4b3838;
                border-radius: 10px;
                box-shadow: 0 0 15px rgb(236, 129, 129);
                background-color: hsl(0, 0%, 100%);
            }

            .Register-container {
                max-width: 500px;
                margin: 150px;
                padding: 20px;
                border: 2px solid rgb(241, 234, 234);
                box-shadow: 0 0 15px black(234, 234, 231);
                background-color: aqua(0 0% 100%);
            }


            footer {
                height: auto;
                width: 100%;
                text-align: center;
            }



            
    }
}
}